RewriteEngine on
RewriteRule ([0-9]+)-([a-zA-Z0-9_]+)/([0-9]+)-([a-zA-Z0-9_]+)/ viewChapter.php?guide_id=$1&chapter_id=$3 [L]
RewriteRule ([0-9]+)-([a-zA-Z0-9_]+)/ viewChaptersList.php?guide_id=$1 [L]